@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
header{
    display: flex;
    background-color: white;
    padding: 15px 0px;
    background-image: url(../Images/gta\ banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    display: flex;
    flex: 1;
    padding-left: 10px;
}

.nothing{
    display: flex;
    flex: 4;
}

body{
    margin: 0;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.menu{
    display: flex;
    flex: 1;
}

a{
    margin: 0px 15px;
    text-decoration: none;
    color: black;
}

a:hover{
    color:darkgrey;
}

.div--img{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.character{
   display: flex;
   height: 600px;
}

.div--character{
    width: 50%;
}

.characters{
    margin-left: 500px;
}

p{
    font-size: 30px;
}

.names{
    margin-left: 310px;
}

.GTA{
    width: 1430px;
    margin-left: 240px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: black;
    background-image: url(../Images/gta\ banner\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Cal Sans", sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    -webkit-text-stroke: 1px black;
}